
<div class="app-page">

    <div class="app-header">
        <div class="header-left">
            <img class="spotify-icon" src="img/icon.png">
            <div class="app-title">Spotify Explorer</div>
        </div>
        <div class="header-center">
            <button class="header-btn">Músicas</button>
            <button class="header-btn">Artistas</button>
            <button class="header-btn">Gêneros</button>
            <button class="header-btn active">Estatísticas</button>
        </div>
        <div class="header-right"></div>
    </div>

    <div class="stat-body">

        <div class="stat-nav">
            <select class="dropdown-btn" placeholder="ordenar">
                <option value="" selected disabled>Top 10 Artistas</option>
                <option value="" selected disabled>Top 10 Generos</option>
                <option value="" selected disabled>Artistas Acimas da Média</option>
                <option value="" selected disabled>Música Top/Gênero</option>
                <option value="" selected disabled>Albuns c/ mais músicas</option>
            </select>
        </div>

        <table class="stat-tbl">
            <thead class="text-light-bold">
                <tr>
                    <th data-type="number">#</th>
                    <th data-type="string">ARTISTA</th>
                    <th data-type="number">MÚSICAS</th>
                    <th data-type="number">ALBUNS</th>
                    <th data-type="number">POP. MÉDIA</th>
                </tr>
            </thead>

            <tbody class="text-mid">
                <tr> <td>1</td> <td>The Weeknd</td> <td>92</td> <td>12</td> <td>89</td> </tr>
                <tr> <td>2</td> <td>Ed Sheeran</td> <td>147</td> <td>8</td> <td>82</td> </tr>
                <tr> <td>3</td> <td>Adele</td> <td>65</td> <td>5</td> <td>79</td> </tr>
                <tr> <td>4</td> <td>Eminem</td> <td>234</td> <td>11</td> <td>77</td> </tr>
                <tr> <td>5</td> <td>Drake</td> <td>312</td> <td>15</td> <td>74</td> </tr>
                <tr> <td>6</td> <td>Taylor Swift</td> <td>218</td> <td>13</td> <td>72</td> </tr>
                <tr> <td>7</td> <td>Billie Eilish</td> <td>88</td> <td>6</td> <td>70</td> </tr>
            </tbody>
        </table>
            
        <div class="stat-foot">
            <div class="text-light">Consultas fixas - sem paginação.</div>
        </div>

    </div>




</div>