@import "sharedassets.css";

.musica-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .musica-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: calc(2 * var(--padding-vertical)) var(--row-padding);
        border-bottom: var(--border-width) solid var(--border-color);

        background-color: var(--nav-bg);

        .musica-nav-left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(2 * var(--margin-horizontal));
        }

        .musica-nav-center {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .musica-nav-right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(2 * var(--margin-horizontal));
        }
    }

    .musica-tbl {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--table-bg);

        thead th {
            padding: var(--padding-vertical) var(--row-padding);
            position: sticky;
            background: var(--table-bg);
        }

        td {
            padding: calc(2 * var(--padding-vertical)) var(--row-padding);
            border-top: var(--border-width) solid var(--border-color);
            vertical-align: middle;
        }

        td:nth-child(1) {
            text-align: left;
            font-size: var(--font-small);
            color: var(--text-light);
        }
        td:nth-child(2) {
            color: var(--text-strong);
        }
        .musica-tbl-genero {
            display: inline-flex;
            align-items: center;

            padding: 2px 8px;
            border-radius: var(--border-radius);
            background-color: var(--button-bg);
            font-size: var(--font-small);
        }
        th:nth-child(1), td:nth-child(1), th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3), th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5) {
            text-align: left;
        }
        th:nth-child(6), td:nth-child(6), th:nth-child(7), td:nth-child(7) {
            text-align: right;
        }
}

    .musica-foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-top: var(--border-width) solid var(--border-color);
        background-color: var(--nav-bg);

        padding: calc(2 * var(--padding-vertical)) var(--row-padding);
    }
}

